.navbar {
  display: flex;
  margin-bottom: 5px;
  align-content: stretch;
  background-color: #228b22;
  justify-content: start;
  height: 100%;
  overflow: hidden;

 
}

.navbar-child {
  color: 	#EEE8AA;
  display: flex;
  width: 25%;
  padding: 10px;
  justify-content: center;
  border: 2px solid #EEE8AA;
  font-size: 16px;
  font-weight: 700;
  
}

.hovered {
  color:#4D4133;
  display: flex;
  padding: 10px;
  justify-content: center;
  cursor: pointer;
  border: 2px solid #228b22;
}
